version: "3.4"
services:
  nethermind:
    build:
      context: .
      args:
        UPSTREAM_VERSION: 1.21.0-rc
    image: "nethermind.nethermind-xdai.dnp.dappnode.eth:1.0.0"
    restart: unless-stopped
    security_opt:
      - "seccomp:unconfined"
    volumes:
      - "data:/data"
    environment:
      NETHERMIND_CONFIG: xdai
      NETHERMIND_JSONRPCCONFIG_ENABLED: "true"
      EXTRA_OPTS: ""
    ports:
      - "31404:31404/tcp"
      - "31404:31404/udp"
    ulimits:
      nofile:
        soft: 1000000
        hard: 1000000
    deploy:
      resources:
        limits:
          memory: 16384M
volumes:
  data: {}
